# Data Analysis with SQL Project 2

# Road Accidents analysis with postgre sql

## Introduction and Project Goals

In this project, we will explore road accidents database using sql qureies on postgre sql . The dataset contains 2.7 Million rows of real raod accidetnts with 18 different features(realated to accidetns) The feature contains various data which can help us to analyze their relationships with no of accidents(including weather type, road type, etc). Most of the dataset is already cleaned so in this case we may directly proceed towards our analysis

In [ ]:
# Surpress warnings:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

!pip install ipython-sql
import sqlite3
!pip install tqdm seaborn skillsnetwork pandas numpy scikit-learn

In [ ]:
#connecting to postgre databse on local desktop

!pip install psycopg2 ipython-sql

# Import the required libraries
from sqlalchemy import create_engine
%load_ext sql

# Set up the PostgreSQL connection
host = 'localhost'
database = 'Demo'
user = 'postgres'
password = '12345'
port = '5432'

# Create the connection string
conn_string = f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}'

# Create the SQLAlchemy engine
engine = create_engine(conn_string)

# Connect to the database
conn = engine.connect()

# Set up the IPython-SQL extension
%sql $conn_string

# Execute SQL queries using the %sql or %%sql magic commands

# Multi-line SQL query
%sql SELECT * FROM crimes LIMIT 1;

# Close the database connection
conn.close()

In [30]:
%%sql
SELECT column_name
FROM information_schema.columns
WHERE table_name = 'accidents';

 * postgresql+psycopg2://postgres:***@localhost:5432/Demo
18 rows affected.

[('visibility',),
 ('wind_speed',),
 ('precipitation',),
 ('end_time',),
 ('start_time',),
 ('weather_timestamp',),
 ('temperature',),
 ('pressure',),
 ('sunrise_sunset',),
 ('id',),
 ('crossing',),
 ('severity',),
 ('street',),
 ('state',),
 ('country',),
 ('weather_condition',),
 ('junction',),
 ('traffic_signal',)]

In [4]:
%%sql
select count(*)
from accidents

 * postgresql+psycopg2://postgres:***@localhost:5432/Demo
1 rows affected.

[(2792304,)]

### Duplicate Rows

Checking for duplicate rows (id columns)

In [5]:

%%sql
SELECT a.id, a.rn
FROM (
    SELECT id, row_number() OVER (PARTITION BY id) AS rn
    FROM accidents
) AS a
WHERE a.rn > 1;

 * postgresql+psycopg2://postgres:***@localhost:5432/Demo
0 rows affected.

[]

No duplicate ids detected

Now lets check the top 3 states with most number of accidents and most number of severe accidents with their percentage share

In [7]:
%%sql
SELECT a1.state,
       a1.total_accidents_state,
       (a1.total_accidents_state::decimal / a3.total_accidents) * 100 as perc_total,
       a2.total_4_state,
       (a2.total_4_state::decimal / a4.total_4) * 100 as perc_severe_accidents

FROM
    (SELECT state, count(id) as total_accidents_state
     FROM accidents
     GROUP BY state) as a1

JOIN
    (SELECT state, count(id) as total_4_state
     FROM accidents
     WHERE severity='4'
     GROUP BY state) as a2 ON a1.state = a2.state

CROSS JOIN
    (SELECT count(id) as total_accidents
     FROM accidents) as a3

CROSS JOIN
    (SELECT count(id) as total_4
     FROM accidents
    WHERE severity='4') as a4

ORDER BY 3 DESC
limit 3

 * postgresql+psycopg2://postgres:***@localhost:5432/Demo
3 rows affected.

[('CA', 780465, Decimal('27.95057414951953655500'), 8960, Decimal('6.99775853047070860100')),
 ('FL', 398899, Decimal('14.28565800858359261700'), 9458, Decimal('7.38669644879374575300')),
 ('TX', 146989, Decimal('5.26407583128484577600'), 4401, Decimal('3.43718027819214158000'))]

## Accidents Realtion with Weather Conditions

Above are the top 3 states with most no of accidents(ca,fl,tx).Lets analyze the top of them furhter. We are looking for 1/state, 2/percentage accidents, 3/ avg annual rainfall

In [26]:
%%sql
SELECT a1.state, (a1.state_accidents::decimal / a3.total_accidents) * 100 AS perc_accidents, (a2.total_rainfall/5) as avg_annual_rainfall
FROM (
    SELECT state, COUNT(id) AS state_accidents
    FROM accidents
    GROUP BY state
) AS a1
JOIN (
    SELECT state, SUM(precipitation) AS total_rainfall
    FROM accidents
    GROUP BY state
) AS a2 ON a1.state = a2.state
CROSS JOIN (
    SELECT COUNT(id) AS total_accidents
    FROM accidents
) AS a3
ORDER BY 2 DESC
limit 5

 * postgresql+psycopg2://postgres:***@localhost:5432/Demo
5 rows affected.

[('CA', Decimal('27.95057414951953655500'), Decimal('533.8100000000000000')),
 ('FL', Decimal('14.28565800858359261700'), Decimal('649.1920000000000000')),
 ('TX', Decimal('5.26407583128484577600'), Decimal('145.6780000000000000')),
 ('OR', Decimal('4.45700038391235338300'), Decimal('141.2260000000000000')),
 ('NY', Decimal('3.84388662552501446800'), Decimal('321.5580000000000000'))]

As shown above the states with highest number of accidents(total) and severe accidents have also more avg rainfall than any other states
.So this shows there is a positive corealtion with annual rainfall and number of accidens

Lets analyze the top state with most accidnets more deeply
Output 1/month, 2/% share of accidents 3/% share of rainfall (for ca )

In [16]:
%%sql
SELECT a1.month, (a1.month_accidents::decimal/a3.total_accidents) * 100 as perc_of_accidents,
(a2.month_rainfall::decimal/a4.total_rainfall) * 100 as perc_of_rainfall
from
(select to_char(start_time, 'Month') as month, count(id) as month_accidents
from accidents
where state='CA'
group by month) as a1
join

(select to_char(start_time, 'Month') as month, sum(precipitation) as month_rainfall
from accidents
where state='CA'
group by month) as a2 on a1.month=a2.month

cross join
(select count(id) as total_accidents
from accidents
where state='CA') as a3

cross join
(select sum(precipitation) as total_rainfall
from accidents
where state='CA') as a4

order by 2 desc

 * postgresql+psycopg2://postgres:***@localhost:5432/Demo
12 rows affected.

[('December ', Decimal('17.21243105071976321800'), Decimal('48.43745902099998126700')),
 ('November ', Decimal('11.71852677570422760800'), Decimal('1.29634139487832749500')),
 ('October  ', Decimal('10.79625607810728219700'), Decimal('10.64948202543976321200')),
 ('September', Decimal('9.01834162966949190500'), Decimal('0.55487907682508757800')),
 ('January  ', Decimal('7.81482833951554522000'), Decimal('11.18562784511342987200')),
 ('June     ', Decimal('7.38136879936960658100'), Decimal('0.22217642981585208200')),
 ('February ', Decimal('7.24170846866931893200'), Decimal('4.19587493677525711400')),
 ('March    ', Decimal('6.21847232098812887200'), Decimal('13.52316367246773196500')),
 ('May      ', Decimal('6.21424407244399172300'), Decimal('0.73659167119387047800')),
 ('April    ', Decimal('5.99514392061143036500'), Decimal('8.94325696408834604100')),
 ('August   ', Decimal('5.56680953021596099800'), Decimal('0.01311328000599464200')),
 ('July     ', Decimal('4.82186901398525238200'), Decimal('0.24203368239635825500'))]

Most number of accidents happend in december in ca, while highest percentage of rainfall also occures in same month

Most accidents occured from sep-jan in satate 'ca.'. Lets analyze other weather conditions with respect to no of accidents happening

In [9]:
%%sql
SELECT a1.month, (a1.month_accidents::decimal/a3.total_accidents) * 100 as perc_of_accidents,
a5.avg_temp, a5.avg_visible
from
(select to_char(start_time, 'Month') as month, count(id) as month_accidents
from accidents
where state='CA'
group by month) as a1
join

(select to_char(start_time, 'Month') as month, max(precipitation) as month_rainfall
from accidents
where state='CA'
group by month) as a2 on a1.month=a2.month
join

(select to_char(start_time, 'Month') as month, avg(temperature) as avg_temp, avg(visibility) as avg_visible
from accidents
group by month) as a5 on a2.month=a5.month

cross join
(select count(id) as total_accidents
from accidents
where state='CA') as a3

cross join
(select sum(precipitation) as total_rainfall
from accidents
where state='CA') as a4

order by 2 desc

 * postgresql+psycopg2://postgres:***@localhost:5432/Demo
12 rows affected.

[('December ', Decimal('17.21243105071976321800'), Decimal('50.1673059779645321'), Decimal('8.5448773183236496')),
 ('November ', Decimal('11.71852677570422760800'), Decimal('56.7024602713538790'), Decimal('9.1035441762758044')),
 ('October  ', Decimal('10.79625607810728219700'), Decimal('65.8992694810749406'), Decimal('9.3116006785782691')),
 ('September', Decimal('9.01834162966949190500'), Decimal('74.4052681438936940'), Decimal('9.4108452691617861')),
 ('January  ', Decimal('7.81482833951554522000'), Decimal('45.5374284659885338'), Decimal('8.6616280678396272')),
 ('June     ', Decimal('7.38136879936960658100'), Decimal('77.3287720822473212'), Decimal('9.6355829996557534')),
 ('February ', Decimal('7.24170846866931893200'), Decimal('45.4284233588944131'), Decimal('8.4255323542426094')),
 ('March    ', Decimal('6.21847232098812887200'), Decimal('54.2214587416477468'), Decimal('9.0748610553056913')),
 ('May      ', Decimal('6.21424407244399172300'), Decimal('68.6396792756246113'), Decimal('9.4946646230202175')),
 ('April    ', Decimal('5.99514392061143036500'), Decimal('60.4266415098810483'), Decimal('9.3139725310971515')),
 ('August   ', Decimal('5.56680953021596099800'), Decimal('79.6911465267894036'), Decimal('9.3680398678717255')),
 ('July     ', Decimal('4.82186901398525238200'), Decimal('80.2399860783479640'), Decimal('9.5124953574744661'))]

Together with rainfall sep-jan are also have lower temperatures and low visibility. From this we can conclude that in ca most accidents occured in months when rainfall is highest and temperature and visibility are at lowest levels

Now lets look at the individual days of most occuring month, and weather conditions

In [12]:
%%sql

SELECT a1.day, a1.day_accidents, (a1.day_accidents::decimal/a3.total_accidents) * 100 AS perc_accidents,
       a2.max_rainfall, a2.avg_temp, a2.avg_visible
FROM (
    SELECT EXTRACT(DAY FROM start_time) AS day, COUNT(id) AS day_accidents
    FROM accidents
    WHERE EXTRACT(YEAR FROM start_time) = 2021 AND EXTRACT(MONTH FROM start_time) = 12 AND state='CA'
    GROUP BY day
) AS a1
JOIN (
    SELECT EXTRACT(DAY FROM start_time) AS day, MAX(precipitation) AS max_rainfall,
           AVG(temperature) AS avg_temp, AVG(visibility) AS avg_visible
    FROM accidents
    WHERE EXTRACT(YEAR FROM start_time) = 2021 AND EXTRACT(MONTH FROM start_time) = 12 AND state='CA' 
    GROUP BY day
) AS a2 ON a1.day = a2.day
CROSS JOIN (
    SELECT COUNT(id) AS total_accidents
    FROM accidents
    WHERE EXTRACT(YEAR FROM start_time) = 2021 AND EXTRACT(MONTH FROM start_time) = 12 AND state='CA' 
) AS a3
ORDER BY 2 DESC;

 * postgresql+psycopg2://postgres:***@localhost:5432/Demo
31 rows affected.

[(Decimal('23'), 4233, Decimal('6.09670032118218087000'), Decimal('0.73'), Decimal('53.0200668896321070'), Decimal('5.6514285714285714')),
 (Decimal('14'), 3542, Decimal('5.10146764413590471100'), Decimal('0.67'), Decimal('49.5970790378006873'), Decimal('5.4284389269406393')),
 (Decimal('30'), 2954, Decimal('4.25458368740188100400'), Decimal('0.48'), Decimal('50.3713210130047912'), Decimal('6.8186173853524983')),
 (Decimal('17'), 2866, Decimal('4.12783914965937405500'), Decimal('0.08'), Decimal('52.0172353148083011'), Decimal('9.4552512212142359')),
 (Decimal('10'), 2799, Decimal('4.03134046751451080900'), Decimal('0.0'), Decimal('52.5064469914040115'), Decimal('9.8923463485177151')),
 (Decimal('13'), 2617, Decimal('3.76920971900159871000'), Decimal('0.52'), Decimal('51.4398130112972341'), Decimal('6.2580428954423592')),
 (Decimal('24'), 2614, Decimal('3.76488888248764960900'), Decimal('0.42'), Decimal('52.6431666010240252'), Decimal('7.4997103128621089')),
 (Decimal('3'), 2514, Decimal('3.62086099868934625700'), Decimal('0.0'), Decimal('56.2740000000000000'), Decimal('5.1566015936254980')),
 (Decimal('9'), 2487, Decimal('3.58197347006380435300'), Decimal('0.17'), Decimal('53.2518130539887188'), Decimal('8.4948733413751508')),
 (Decimal('16'), 2455, Decimal('3.53588454724834728000'), Decimal('0.29'), Decimal('48.7583230579531443'), Decimal('8.2076029351814105')),
 (Decimal('22'), 2406, Decimal('3.46531088418717863800'), Decimal('0.14'), Decimal('54.1002516778523490'), Decimal('6.8924686192468619')),
 (Decimal('15'), 2351, Decimal('3.38609554809811179400'), Decimal('0.28'), Decimal('46.6519123334765793'), Decimal('8.7752136752136752')),
 (Decimal('8'), 2276, Decimal('3.27807463524938428100'), Decimal('0.01'), Decimal('56.7113356766256591'), Decimal('7.0677416520210896')),
 (Decimal('29'), 2163, Decimal('3.11532312655730149400'), Decimal('0.42'), Decimal('48.0345794392523364'), Decimal('6.8727948003714020')),
 (Decimal('27'), 2161, Decimal('3.11244256888133542700'), Decimal('0.31'), Decimal('46.4619692020531965'), Decimal('7.6891294227188082')),
 (Decimal('7'), 2128, Decimal('3.06491336722789532100'), Decimal('0.03'), Decimal('56.0188058298072402'), Decimal('6.9528067700987306')),
 (Decimal('11'), 2102, Decimal('3.02746611744033644900'), Decimal('0.1'), Decimal('53.5934959349593496'), Decimal('9.6372970391595033')),
 (Decimal('21'), 2079, Decimal('2.99433970416672667800'), Decimal('0.09'), Decimal('53.2845450168512277'), Decimal('7.9663299663299663')),
 (Decimal('18'), 2003, Decimal('2.88487851248001613100'), Decimal('0.0'), Decimal('51.5075604838709677'), Decimal('9.0444900000000000')),
 (Decimal('1'), 1953, Decimal('2.81286457058086445500'), Decimal('0.01'), Decimal('62.1175564681724846'), Decimal('5.8236858316221766')),
 (Decimal('20'), 1936, Decimal('2.78837983033515288600'), Decimal('0.02'), Decimal('51.2223376623376623'), Decimal('7.9083057851239669')),
 (Decimal('25'), 1915, Decimal('2.75813397473750918200'), Decimal('0.37'), Decimal('47.1025912215758858'), Decimal('7.1274947478991597')),
 (Decimal('26'), 1900, Decimal('2.73652979216776367900'), Decimal('0.81'), Decimal('46.0288770053475936'), Decimal('8.8980402542372881')),
 (Decimal('2'), 1873, Decimal('2.69764226354222177400'), Decimal('0.0'), Decimal('57.4115755627009646'), Decimal('5.9197324772605671')),
 (Decimal('6'), 1784, Decimal('2.56945744696173179100'), Decimal('0.09'), Decimal('54.0244596131968146'), Decimal('5.4473868778280543')),
 (Decimal('12'), 1778, Decimal('2.56081577393383359000'), Decimal('0.26'), Decimal('51.4898074745186863'), Decimal('8.2661381653454134')),
 (Decimal('4'), 1680, Decimal('2.41966844781149630600'), Decimal('0.0'), Decimal('54.1420863309352518'), Decimal('5.1232055122828041')),
 (Decimal('28'), 1657, Decimal('2.38654203453788653500'), Decimal('0.1'), Decimal('45.9754901960784314'), Decimal('9.1288063337393423')),
 (Decimal('19'), 1446, Decimal('2.08264319972346646300'), Decimal('0.09'), Decimal('48.5633704735376045'), Decimal('8.1146920415224913')),
 (Decimal('5'), 1392, Decimal('2.00486814247238265300'), Decimal('0.0'), Decimal('52.8182481751824818'), Decimal('5.1890711175616836')),
 (Decimal('31'), 1367, Decimal('1.96886117152280681500'), Decimal('0.01'), Decimal('49.1005917159763314'), Decimal('9.1307731958762887'))]

Most accidents occured on 23 when temp was also low with lower visibility. This shows rainfalll  accompained by lower tempratures and lower visibility are more dangerous days, than days where rainfall is comparitvely higher but with good visibility and warmer temperatures

## Road Type and Trafic Accidents

Lets analyze each road type(junction, traffic signal, crossing) and check how they realte with total accidents and severe accidents

In [72]:
%sql select distinct junction from accidents

 * postgresql+psycopg2://postgres:***@localhost:5432/Demo
2 rows affected.

[('False',), ('True',)]

In [79]:
%%sql
SELECT count(*)
from accidents
where junction = 'False'

 * postgresql+psycopg2://postgres:***@localhost:5432/Demo
1 rows affected.

[(2506606,)]

In [82]:
%%sql
select state, count(id) as state_accidents
from accidents
where (junction='True' or traffic_signal='True' or crossing='True')
group by state
order by 2 desc
limit 3;

 * postgresql+psycopg2://postgres:***@localhost:5432/Demo
3 rows affected.

[('CA', 159983), ('FL', 110132), ('TX', 37405)]

now output 1/j,c,t,non 2/no of accidents, 3/percentage

In [14]:
%%sql
SELECT a1.Type, a1.case_total, (a1.case_total::decimal/a2.total_accidents) * 100 AS perc_accidents
FROM (
    SELECT CASE
        WHEN junction='True' THEN 'Junc'
        WHEN traffic_signal='True' THEN 'signal'
        WHEN crossing='True' THEN 'crossing'
        ELSE 'no obstacles'
    END AS Type,
    COUNT(id) AS case_total
    FROM accidents
   WHERE (state='CA') and (visibility<4)
    GROUP BY Type
) AS a1
CROSS JOIN (
    SELECT COUNT(id) AS total_accidents
    FROM accidents
    WHERE (state='CA') and (visibility<4) 
) AS a2
ORDER BY 2 DESC;

 * postgresql+psycopg2://postgres:***@localhost:5432/Demo
4 rows affected.

[('no obstacles', 40691, Decimal('82.34877461396798413400')),
 ('Junc', 5609, Decimal('11.35126383745168275600')),
 ('signal', 2388, Decimal('4.83273632444903163100')),
 ('crossing', 725, Decimal('1.46722522413130147900'))]

82% of acccidents occured with no junction/traffic signal or crossing

In [38]:
%%sql
SELECT a1.day, a1.day_total_junction,
    (a1.day_total_junction::decimal / a2.total_accidents) * 100 AS perc_of_junc,
    SUM(a1.day_total_junction::decimal / a2.total_accidents * 100) OVER () AS sum_of_perc
FROM (
    SELECT EXTRACT(day FROM start_time) AS day, COUNT(id) AS day_total_junction
    FROM accidents
    WHERE (junction = 'False' and  crossing = 'False' and traffic_signal = 'False')
    AND severity IN ('3', '4')
    GROUP BY day
) AS a1
CROSS JOIN (
    SELECT COUNT(id) AS total_accidents
    FROM accidents
    WHERE severity IN ('3', '4')
) AS a2;

 * postgresql+psycopg2://postgres:***@localhost:5432/Demo
31 rows affected.

[(Decimal('1'), 6179, Decimal('2.19591593043008536300'), Decimal('71.91367018970382321600')),
 (Decimal('2'), 6194, Decimal('2.20124668604692486500'), Decimal('71.91367018970382321600')),
 (Decimal('3'), 6759, Decimal('2.40203848094787942500'), Decimal('71.91367018970382321600')),
 (Decimal('4'), 6152, Decimal('2.18632057031977426000'), Decimal('71.91367018970382321600')),
 (Decimal('5'), 6622, Decimal('2.35335091298074531100'), Decimal('71.91367018970382321600')),
 (Decimal('6'), 6495, Decimal('2.30821718209150419700'), Decimal('71.91367018970382321600')),
 (Decimal('7'), 6544, Decimal('2.32563098377317990200'), Decimal('71.91367018970382321600')),
 (Decimal('8'), 6692, Decimal('2.37822777252599631800'), Decimal('71.91367018970382321600')),
 (Decimal('9'), 6629, Decimal('2.35583859893527041100'), Decimal('71.91367018970382321600')),
 (Decimal('10'), 6543, Decimal('2.32527560006539060200'), Decimal('71.91367018970382321600')),
 (Decimal('11'), 6799, Decimal('2.41625382925945143000'), Decimal('71.91367018970382321600')),
 (Decimal('12'), 6944, Decimal('2.46778446688889994500'), Decimal('71.91367018970382321600')),
 (Decimal('13'), 6566, Decimal('2.33344942534454450500'), Decimal('71.91367018970382321600')),
 (Decimal('14'), 6433, Decimal('2.28618339220856759000'), Decimal('71.91367018970382321600')),
 (Decimal('15'), 6695, Decimal('2.37929392364936421900'), Decimal('71.91367018970382321600')),
 (Decimal('16'), 6286, Decimal('2.23394198716354047500'), Decimal('71.91367018970382321600')),
 (Decimal('17'), 6637, Decimal('2.35868166859758481200'), Decimal('71.91367018970382321600')),
 (Decimal('18'), 6832, Decimal('2.42798149161649833300'), Decimal('71.91367018970382321600')),
 (Decimal('19'), 7076, Decimal('2.51469511631708755900'), Decimal('71.91367018970382321600')),
 (Decimal('20'), 6828, Decimal('2.42655995678534113300'), Decimal('71.91367018970382321600')),
 (Decimal('21'), 6559, Decimal('2.33096173939001940400'), Decimal('71.91367018970382321600')),
 (Decimal('22'), 7091, Decimal('2.52002587193392706100'), Decimal('71.91367018970382321600')),
 (Decimal('23'), 7017, Decimal('2.49372747755751885300'), Decimal('71.91367018970382321600')),
 (Decimal('24'), 6957, Decimal('2.47240445509016084700'), Decimal('71.91367018970382321600')),
 (Decimal('25'), 6276, Decimal('2.23038815008564747400'), Decimal('71.91367018970382321600')),
 (Decimal('26'), 6916, Decimal('2.45783372307079954200'), Decimal('71.91367018970382321600')),
 (Decimal('27'), 6843, Decimal('2.43189071240218063400'), Decimal('71.91367018970382321600')),
 (Decimal('28'), 6531, Decimal('2.32101099557191900100'), Decimal('71.91367018970382321600')),
 (Decimal('29'), 6155, Decimal('2.18738672144314216100'), Decimal('71.91367018970382321600')),
 (Decimal('30'), 6215, Decimal('2.20870974391050016700'), Decimal('71.91367018970382321600')),
 (Decimal('31'), 3890, Decimal('1.38244262330037741700'), Decimal('71.91367018970382321600'))]

72% of sever accidents(level 3 & level 4) happend with no junction/traffic signal or crossing

In [19]:
%%sql
SELECT state, street, total,subquery.rank as state_rank
FROM (
    SELECT state, street, COUNT(id) AS total,
        ROW_NUMBER() OVER (PARTITION BY state ORDER BY COUNT(id) DESC) AS rank
    FROM accidents
    where severity in ('3', '4')
    GROUP BY state, street
) AS subquery
WHERE rank < 4
ORDER BY 3 desc, 1 asc
LIMIT 10;

 * postgresql+psycopg2://postgres:***@localhost:5432/Demo
10 rows affected.

[('FL', 'I-95 N', 2809, 1),
 ('FL', 'I-95 S', 2614, 2),
 ('IL', 'I-94 W', 1668, 1),
 ('CO', 'I-25 N', 1644, 1),
 ('CO', 'I-25 S', 1446, 2),
 ('TX', 'I-45 N', 1405, 1),
 ('CA', 'I-5 N', 1107, 1),
 ('IL', 'I-90 E', 1103, 2),
 ('TX', 'I-45 S', 1010, 2),
 ('WA', 'I-5 N', 1008, 1)]

These are the top 10 streets and their state names for most severe crimes

Lets analyze the top 2 streets(i-95n & i-95s) further, to see if we can extact any valuable information

In [21]:
%%sql
select extract(year from start_time) as year, count(id) as no_accidents
from accidents
where severity in ('3','4') and state='FL' and street in ('I-95 N','I-95 S')
group by year

 * postgresql+psycopg2://postgres:***@localhost:5432/Demo
6 rows affected.

[(Decimal('2016'), 771),
 (Decimal('2017'), 1311),
 (Decimal('2018'), 1122),
 (Decimal('2019'), 1164),
 (Decimal('2020'), 921),
 (Decimal('2021'), 134)]

From 2016 to 2020 there was an upward trend in severe accidents, while in 2021, the trend significally improves and lowest number of accidents occures in that year